<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @estudiante.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @estudiante.apellidos %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @estudiante.carrera %>
</p>

<p>
  <strong>Carnet:</strong>
  <%= @estudiante.carnet %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @estudiante.nacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @estudiante.telefono %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
