<div class="container">
  <div class="row mt-5">
    <div class="col-12 w-100">
      <h1 class="display-4 font-weight-bold text-center">
        <%= @datos_estudiante.nombres %> <%= @datos_estudiante.apellidos %>
      </h1>
    </div>

    <% if notice %>
      <div class="col-12 mt-2 w-100">
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <table class="table mt-5" style="text-align: center">
      <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Carrera</th>
        <th scope="col">Carnet</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="font-size: 16px;"><%= @datos_estudiante.nombres %></td>
        <td style="font-size: 16px;"><%= @datos_estudiante.apellidos %></td>
        <td style="font-size: 16px;"><%= @datos_estudiante.carrera %></td>
        <td style="font-size: 16px;"><%= @datos_estudiante.carnet %></td>
      </tr>
      </tbody>
    </table>

    <div class="mx-auto w-100 text-center">
      <%= link_to 'Regresar', datos_estudiantes_path, class: 'btn btn-link mt-5 mr-5' %>
      <%= link_to 'Editar usuario', edit_datos_estudiante_path(@datos_estudiante), class: 'btn btn-primary text-white mt-5' %>
    </div>
  </div>
</div>

